<!--
	Hunter Culler and Ian Anderson
	University of Colorado Denver CSCI 4800 E01
	Web Application Developement
	Group Assignment 4

	May 12th, 2021

	Status = Functional
-->

<!-- main container for signup content -->
<div class="container">
    <div class="col-sm-6">
        <img src="images/sign-up.png" alt="">
    </div>
    <div class="col-sm-6">
        <h4>Editing User info for: <%= currentUser.firstname %> <%= currentUser.lastname %>,</h4>
        <h8>(*) fields required</h8>
    </div>
    <div>
        <article>
            <!-- When submitted, checks the form to make sure each field is compliant with our created protocol -->
            <form onsubmit="return validateForm()" action="<%=`/users/${currentUser._id}/update?_method=PUT`%>" method="post" id="mainForm" novalidate>
                <fieldset class="border">
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtFirstname" class="col-form-label">
                                <span>First Name: * </span>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" id="txtFirstname" name="firstname" required class="form-control"
                                value="<%=`${currentUser.firstname}` %>">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtLastname" class="col-form-label">
                                <span>Last Name: * </span>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" id="txtLastname" name="lastname" required class="form-control"
                                value="<%=`${currentUser.lastname}` %>">
                        </div>
                    </div>

                    <!--
                    <div class="row form-group">
                        <label for="txtDOB" class="col-sm-2 col-form-label">
                            Date of Birth: *
                        </label>
                        <div class="col-sm-10">
                            <input type="date" id=txtDOB name="dob" required class="form-control" value="<%=`${currentUser.dob}` %>">
                            <div id="divDoBError" class="col-sm-5 invisible errorMessage"></div>
                        </div>
                    </div>
                    

                    <fieldSet class="border-form-group">
                        
                        <div class="row">
                            <legend class="col-sm-2 col-form-label">Gender: </legend>
                            <div class="col-sm-2">
                                <div class="form-check">
                                    <input type="radio" id="rbMale" name="gender" value="male" class="form-check-input">
                                    <label for="rbMale" class="form-check-label">Male</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" id="rbFemale" name="gender" value="female"
                                        class="form-check-input">
                                    <label for="rbFemale" class="form-check-label">Female</label>
                                </div>

                                <div class="form-check">
                                    <input type="radio" id="rbOther" name="gender" value="other"
                                        class="form-check-input">
                                    <label for="rbOther" class="form-check-label">Other</label>
                                </div>
                            </div>
                        </div>  
                    </fieldSet>
                    -->

                    <div class="row form-group">
                        <label for="txtTel" class="col-sm-2 col-form-label">
                            Telephone:
                        </label>
                        <div class="col-sm-10">
                            <input type="tel" id="txtTel" name="telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
                                class="form-control" value="<%=`${currentUser.telephone}` %>"`>
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="txtEmail" class="col-sm-2 col-form-label">
                            Email: *
                        </label>
                        <div class="col-sm-10">
                            <input type="email" id="txtEmail" name="email" required class="form-control"
                                value="<%=`${currentUser.email}` %>">
                        </div>
                    </div>

                    <div class="row form-group">
                        <label for="txtAddress" class="col-sm-2 col-form-label">Address: </label>
                        <div class="col-md-12 col-lg-6">
                            <input type="text" id="txtAddress" name="street" class="form-control"
                                value="<%=`${currentUser.address.street}` %>">
                        </div>

                        <div class="col">
                            <input type="text" id="txtCity" name="city" class="form-control" value="<%=`${currentUser.address.city}` %>">
                        </div>

                        <div class="col">
                            <input type="text" id="txtState" name="state" class="form-control" value="<%=`${currentUser.address.state}` %>">
                        </div>

                        <div class="col">
                            <input type="text" id="txtZipcode" name="zipCode" class="form-control" value=" <%=  String(`${currentUser.address.zipCode}`) %>" 
                            pattern="[0-9]{5}">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtUsername" class="col-form-label">
                                <span>Username: * </span>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" id="txtUsername" name="username" required class="form-control"
                                value="<%=`${currentUser.username}` %>">
                        </div>
                    </div>

                    <!--
                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtPassword" class="col-form-label">
                                <span>Password: * </span>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <input type="password" id="txtPassword" name="password" required class="form-control"
                            value="<%= `${currentUser.password}` %>" >
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-sm-2">
                            <label for="txtConfirmPassword" class="col-form-label">
                                <span>Confirm Password: * </span>
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <input type="password" id="txtConfirmPassword" name="confirmPassword" required
                            value="<%=`${currentUser.password}` %>" class="form-control" >
                        </div>
                    </div>
                    
                    <div class="form-group-row">
                        <label for="dlSecurity">Security Question:</label>
                         Dropdown menu for picking a security question, reveals the text entry field for answer when a question is picked 
						
                        <select id="dlSecurity" name="sec_question" onchange="updateSecurityView()">
                            <option value="starter" selected>--Select a security question--
                            </option>
                            <option value="What is your mother's maiden name?">What is your mother's maiden name?
                            </option>
                            <option value="What city were you born in?">What city were you born in?
                            </option>
                            <option value="What was the make of your first car?">What was the make of your first car?
                            </option>
                            <option value="What was the name of your first pet?">What was the name of your first pet?
                            </option>
                        </select>
                    </div>
                    <div id="divSecurityAnswer" class="form-group-row">
                        <div class="col-sm-2">
                            <label for="txtSecurity" class="col-form-label">
                                Question Answer:
                            </label>
                        </div>
                        <div class="col-sm-10">
                            <input type="text" id="txtSecurity" name="sec_answer" required class="form-control">
                        </div>
                    </div>
                    -->

                    <p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </p>

                </fieldset>
            </form>
        </article>
    </div>
</div>